<h1>Create an article</h1>

<% if @article.errors.any? %>
<h2>The following errors prevented the article from getting  created</h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for @article do |bananeflambee| %>
  <p>
    <%= bananeflambee.label :title %><br/>
    <%= bananeflambee.text_field :title %>
  </p>
  <p>
    <%= bananeflambee.label :description %><br/>
    <%= bananeflambee.text_area :description %>
  </p>
  <p>
    <%= bananeflambee.submit %>
  </p>
<% end %>